@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
:root  {
    --background : rgba(17, 41, 53, 1);
   margin: 0px;
/*añadiendo color de fondo para verificar cada area trabajada*/
}
body{
    margin:0%;
    font-family:'Monserrat', sans-serif;
    text-align:center;
}
/*cambiaremos el formato de las listas para mostrar los elementos en linea horizontal*/
ul li{
    display: inline;

}
.header {
    background: var(--background);
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}
.logo{
    size: 20px;
    margin-top: 5px;
    margin-left: 30px;
}
/*cambiaremos el menu para que se muestre solamente cuando es mayor a 750 
ya que esta es la resolucion mas comun en smartphones (en estados unidos) en 2019 de acuerdo a una busqueda en google.
referencia:
https://deviceatlas.com/blog/most-used-smartphone-screen-resolutions#us
*/
@media only screen and (min-width: 750px) {
    .show-desktop {
        display: block;
    }
    .hide-desktop {
        display: none;

    }
    .menu {
        background: var(--background); 
        position: static;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 5px;
    }
} 
.big-hero h2{
    color:white;
}
.big-hero{
    background: var(--background);
    padding: 0%;
    margin-bottom:0%;
}
.green-area p{
    color:white;
}
.green-area h2, h3{
    color: white;
}
.green-area{
    background-color: #0AC693;
}
.post article img{
    height: 150 px;
    width: 100%;
    object-fit: cover;
}